name: Build all packages

on:
  push:
    branches:
      - main
  workflow_dispatch:
  pull_request:
    branches:
      - main

permissions:
  contents: read
  id-token: write

jobs:
  build:
    strategy:
      fail-fast: true
      matrix:
        os:
          # linux-64
          - ubuntu-latest
          # linux-aarch64
          - ubuntu-24.04-arm
          # osx-arm64
          - macos-latest
          # win-64
          - windows-latest
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
    - uses: prefix-dev/setup-pixi@82d477f15f3a381dbcc8adc1206ce643fe110fb7 # v0.9.3
      with:
        activate-environment: true
    # https://github.com/conda-forge/conda-forge.github.io/issues/2550
    - name: Install Swift
      if: matrix.os == 'macos-latest'
      uses: swift-actions/setup-swift@7ca6abe6b3b0e8b5421b88be48feee39cbf52c6a # v2.4.0
    - run: swift --version
      if: matrix.os == 'macos-latest'
    - name: Build packages
      shell: bash
      run: |
        rattler-build build --recipe-dir . --skip-existing=all \
            -c conda-forge -c https://prefix.dev/yolo-forge
      env:
        RATTLER_BUILD_ENABLE_GITHUB_INTEGRATION: true
        RATTLER_BUILD_COLOR: always
    - name: Upload packages as artifacts
      uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
      with:
        path: output/**/*.conda
        name: output-${{ matrix.os }}
    - name: Get JWT
      id: get_token
      if: github.event_name == 'push'  # do not upload on PR
      uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
      with:
        script: |
          const token = await core.getIDToken('prefix.dev')
          core.setOutput('token', token)
    - name: Mint the API Key on prefix.dev
      shell: bash
      if: github.event_name == 'push'  # do not upload on PR
      run: |
        TOKEN="${{ steps.get_token.outputs.token }}"
        RESPONSE="$(curl -s -X POST                 \
             https://prefix.dev/api/oidc/mint_token \
             -H 'Content-Type: application/json'    \
             --data "{\"token\": \"$TOKEN\"}")"
        # mask the response
        echo "::add-mask::$RESPONSE"
        echo "PREFIX_API_KEY=$RESPONSE" >> "$GITHUB_ENV"
    - name: Upload all packages
      shell: bash
      if: github.event_name == 'push'  # do not upload on PR
      run: |
        shopt -s nullglob
        EXIT_CODE=0
        for file in output/**/*.conda; do
          if ! rattler-build upload prefix -c yolo-forge "$file"; then
            EXIT_CODE=1
          fi
        done
        exit $EXIT_CODE
